*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #adadad;
}

/*Tekst*/
@font-face {
    font-family: Baloo;
    src: url(Fonts/Baloo\ Bhaijaan\ Regular\ 400.ttf);  
}

@font-face {
    font-family: ArialB;
    src: url(Fonts/arialbd.ttf);  
}

h1 {
    color: #171515;
    font-family: Baloo;
    font-size:45px;
}

p {
    color: #F1F1F1;
    font-family: ArialB;
}

li {
    color: #F1F1F1;
    font-family: ArialB;
}

a {
    color: #F1F1F1;
    font-family: ArialB;
}

.copyright {
    color: #F1F1F1;
    font-family: ArialB;
}
/**/

/*Header*/
.header {
    color: #F1F1F1;
    font-family: ArialB;
    background-color:#171515;
    text-align: center;
}
/**/

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F1F1F1;
    font-family: ArialB;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#171515;
}
.footer-text {
text-align:center;
font-size:.50em;
color:#171515;
margin-bottom:20px;
margin-top:20px;
}

.footer a {
color:#171515;
text-decoration: none;
}
.copyright {
font-size:.40em;
margin-bottom:30px;
}
/**/

/*Forside*/
.forside {
    padding: 6rem;
    padding-bottom: 15rem;
    background-color: #CA0B1A;
    background-image: linear-gradient(#CA0B1A, #330000);
  }

  .forside h1 {
    color: #FABB22;
    font-size: 5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    letter-spacing: 0px;
  }
.forside button {
    display: inline-block;
    border: none;
    background-color: #FABB22;
    color: #F3F4ED;
    font-size: 18px;
    margin-top: 40px;
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    }

.forside button:hover {
    background-color: #f8d226
}

.forside button:active {
  background-color: #f8d226;
  box-shadow: 0 6px rgb(165, 2, 2);
  transform: translateY(2px);
}
  /* Om os */
  .box{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  

    }
    .box div{
    max-width: 500px;
    padding: 15px;
    margin: 20px;
    background-color:#f3f4ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .box h2,p{
     margin: 15px;
     color:#171515;
     font-family:ArialB ;
     font-size: 40px;
    }
    
    .box p{
    font-size: 22px;
    }

  /**/