*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #0D0D0D;
}

/*Tekst*/
@font-face {
    font-family: Baloo;
    src: url(Fonts/Baloo\ Bhaijaan\ Regular\ 400.ttf);  
}

@font-face {
    font-family: ArialB;
    src: url(Fonts/arialbd.ttf);  
}

h1 {
    margin-top: 50px;
    color: #e38424;
    font-family: Baloo;
    text-align: center;
    font-size: 55px;
}

h2 {
    color: #f3f4ee;
    font-family: Baloo;
    text-align: center;
    font-size: 30px;
}

p {
    color: #f3f4ed;
    font-family: ArialB;
}

.p1 {
    color: #f3f4ee;
    font-family: ArialB;
    font-size: 20px;
    text-align: center;
}

li {
    color: #f3f4ed;
    font-family: ArialB;
}

a {
    color: #f3f4ed;
    font-family: ArialB;
}

.copyright {
    color: #f3f4ed;
    font-family: ArialB;
}
/**/

/*Tilmelding*/
.formular {
    justify-content: center;
    background-color: #68C2D3;
    width: 85%;
    max-width: 800px;
    height: 300px;
    padding: 10px 10px;
    text-align: left;
    margin-left: 510px;
}

.Navn {
    margin: 4px 0px;
    padding: 6px 25px;
}

.Email {
    margin: 4px 0px;
    padding: 6px 25px;
}

.Mobilnummer {
    margin: 4px 0px;
    padding: 6px 25px;
}

.Besked {
    margin: 4px 0px;
    padding: 6px 25px;
}

.Send {
    margin: 4px 0px;
    padding: 6px 25px;
    color: #68c2d3
}

.Besked input,.Besked textarea {
    width: 100%;
    height: 100px;
}

.text {
    color: #171515
}

.formular {border-radius: 30px;}
/**/

/*Header*/
.header {
    color: #F1F1F1;
    font-family: ArialB;
    background-color:#68C2D3;
    text-align: center;
}

.header li {
    padding: 20px 20px;
    color: #F1F1F1;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

.header li a {
    color: #F1F1F1;
}
/**/

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F1F1F1;
    font-family: ArialB;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#68C2D3;
}
.footer-text {
text-align:center;
font-size:.50em;
color: #171515;
margin-bottom:20px;
margin-top:20px;
}

.footer a {
color: #171515;
text-decoration: none;
}
.copyright {
font-size:.40em;
margin-bottom:30px;
}
/**/

/*Forside*/

  .forside h1 {
    color: #E38424;
    font-size: 5rem;
    margin-top: 7rem;
    letter-spacing: 2px;
  }
.enknap {
    margin-left: 400px;
    display: inline-block;
    border: none;
    background-color: #E38424;
    color: #F3F4ED;
    font-size: 18px;
    margin-top: 100px;
    padding: 15px 80px;
    border-radius: 10px;
    cursor: pointer;
    }

.enlilleknap{
    margin-left: 100px;
    display: inline-block;
    border: none;
    background-color: #E38424;
    color: #F3F4ED;
    font-size: 18px;
    margin-top: 100px;
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    }

.forside button:hover {
    background-color: #ff9a35;
}

.forside button:active {
  background-color: #ff9a35;
  box-shadow: 0 6px rgb(155, 91, 8);
  transform: translateY(2px);
}
  /*Om os*/
  .box{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    }
    .box div{
    max-width: 500px;
    padding: 15px;
    margin: 20px;
    background-color:#f3f4ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .box h2,p{
     margin: 15px;
     color:#171515;
     font-family:ArialB ;
     font-size: 40px;
    }
    .box h2{
       
        color:#e38424;
        font-family: Baloo;
    }
   
    .box p{
    font-size: 22px;
    }
  /**/