*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #adadad;
}

/*Tekst*/
@font-face {
    font-family: Baloo;
    src: url(Fonts/Baloo\ Bhaijaan\ Regular\ 400.ttf);  
}

@font-face {
    font-family: ArialB;
    src: url(Fonts/arialbd.ttf);  
}

h1 {
    color: #f1f1f1;
    font-family: Baloo;
    text-align: center;
    font-size: 40px;
}

p {
    color: #F1F1F1;
    font-family: ArialB;
}

li {
    color: #F1F1F1;
    font-family: ArialB;
}

a {
    color: #F1F1F1;
    font-family: ArialB;
}

.copyright {
    color: #F1F1F1;
    font-family: ArialB;
}
/**/

/*Header*/
.header {
    color: #F1F1F1;
    font-family: ArialB;
    background-color:#171515;
    text-align: center;
}
/**/

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F1F1F1;
    font-family: ArialB;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#171515;
}
.footer-text {
text-align:center;
font-size:.50em;
color:#171515;
margin-bottom:20px;
margin-top:20px;
}

.footer a {
color:#171515;
text-decoration: none;
}
.copyright {
font-size:.40em;
margin-bottom:30px;
}
/**/